*{
  margin:0;
  padding:0;
}
body{
  background: gray;
}
img{  width: 200px;height: 200px }
.image2{
  margin:10px 0;
}
.content {margin:0px}
.firstContent{
  text-indent: 2em;
}
.title{margin:0px}
.body{
  background:white;
  border:1px solid gray;
  margin:20px;
  padding:20px;
}
#header{
  height:60px;
  line-height: 60px;
  overflow: hidden;
  width:100%;
  background:#1a1a1a;
}
#header ul {
  float: right;
}
#header li{
  display:inline-block;
}
#header li a{
  text-decoration: none;
  color:white;
  font-size: 12px;
  padding-right:20px;
}
h2{
  height:50px;
  line-height: 50px;
  margin-top:10px;
}
h4{
  color:grey;
  line-height:40px;
  height:40px;
}
h5{
  color:dimgray;
  line-height:40px;
  height:40px;
}
#list{
  list-style-type: none;
  margin-left:20px;
}
.image{
  width:250px;
  height:270px;
  border:1px solid gray;
  text-align:center;
  margin-bottom:20px;
  margin-left:40px;
}
.body .title{
  height:50px;
  line-height: 50px;
}
.body #ranklist{
  margin:0 0 20px 40px;
}
.body table{
  border:1px solid gray;
  border-collapse:collapse;
  width:100%;
  font-size: 12px;
  height:25px;
  line-height: 25px;
}
.body table th{
  background: black;
  color:white;
  text-align: left;
}
table #total{
  background:gray;
  font-weight:700;
}
#footer{
  width:100%;
  background:black;
  color:white;
  font-size: 12px;
  text-align:center;
  height:60px;
  line-height: 50px;
}

#right #formContent #contentdetail{
  font-size:12px;
}
#right #formContent label{
  display:inline-block;
  width:100px;
  text-align:right;
  height:35px;
  line-height:35px;
  padding-right:15px;
}
#formContent p{
  margin-left:115px;
  color:gray;
  margin-bottom:10px;
  }
#formContent #desc{
  width:200px;
  height:100px;
}
#description{
  vertical-align: top;
}
#formContent button{
  padding:0px;
  width:100%;
  height:30px;
  margin-bottom:-10px;
  background:blue;
  color:white;
  margin-top:5px;
  border-radius: 10px;
  border:none;
}


#main{
  overflow: hidden;
}
#right{
  float:right;
  width:400px;
}
#left{
  margin-right:400px;
}
