*{
  margin:0px;
  padding:0px;
}
#navigationBar{
  width:100%;
  height:60px;
  overflow: hidden;
}
#navigationBar #logo{
  float:left;
  margin-top:10px;
  margin-left:50px;
}
#logo img{
  height:40px;
}

#navigationBar #lists{
  float:right;
  height:60px;
  line-height:60px;
}

#navigationBar #lists li{
  list-style-type: none;
  display: inline-block;
  padding-right:45px;
  color:dimgray;
}
#newLife{
  width:100%;
  height:630px;
  background-image: url("pic/2.png");
  background-repeat: no-repeat;
  background-size:100% 630px;
  position:relative;
}
#newLife div{
  position:absolute;
  left:115px;
  top:210px;
}
#newLife p{
  color:#ffffff;
}
#time{
  font-size:60px;
  font-weight:600;
  margin-bottom:20px;
}
#newLife .young{
  font-size:20px;
}

#newLife button{
  width:330px;
  height:60px;
  background:indianred;
  color:white;
  font-size:30px;
  border:none;
  margin-top:60px;
}
#intro{
  position:relative;
  width:100%;
  height:250px;
  /*border:1px solid black;*/
}
#intro div{
  width:25%;
  float:left;
   text-align:center;
  margin-top:30px;
  margin-bottom:50px;
}
#intro div div{
  width:160px;
  height:120px;
  padding:0 60px;
  font-size:14px;
  color:grey;
}
#intro div img{
  width:40px;
  height:40px;
}
#image1{
  position:absolute;
  width: 5px;
  height:50px;
  left:280px;
  top:120px;
}
#image2{
  position:absolute;
  width:5px;
  height:50px;
  left:600px;
  top:120px;
}
#image3{
  position:absolute;
  width:5px;
  height:50px;
  left:900px;
  top:120px;
}

#toKnowMore{
  height:360px;
  background: #ededed;
}
#toKnowMore img{
  position:relative;
  left:47%;
  width:90px;
  height:95px;
  margin-top:70px;
  margin-bottom:-25px;
}
#toKnowMore p{
  color:grey;
  font-size:50px;
  text-align: center;
  margin-top:40px;
}
#search{
  height:340px;
  width:100%;
  background:url("pic/9.png");
  border:1px solid white;
}
#searchContent #big{
  font-size: 22px;
  color:white;
  text-align: center;
  padding-top:50px;
}
#searchContent #small{
  font-size:14px;
  color:white;
  text-align: center;
  padding-top:30px;
}

#searchSelect {
  padding-top:50px;
}
#searchSelect input{
  width:235px;
  height:35px;
}
#searchSelect button{
  width:235px;
  height:40px;
  background: indianred;
  color:white;
  border:none;
}
#detail{
  height:560px;
  overflow: hidden;
}

#detailLeft img{
  float:left;
  width: 844px;
  height:560px;
}
#detailRight{
  float:right;
}
#detailRight div{
  width:300px;
  margin-top:160px;
  margin-right:60px;
}
#detailRight div h3{
  text-align: center;
  margin-bottom: 30px;
}
#detailRight div p{
  font-size:12px;
  margin-bottom: 10px;
}
#detailRight div button{
  width:105px;
  height:30px;
  border:1px solid #e55153;
  background: white;
  color:#e55153;
  margin-left:90px;
  margin-top:50px;
}
#moreDetail{
  height:520px;
}
#moreDetail div{
  width:33.33%;
  height:520px;
  float:left;
}
#moreDetail div button{
  width:170px;
  height:40px;
  border:1px solid white;
}
.line{
  width:30px;
  height:2px;
  background: #ffffff;
  margin-top:25px;
  margin-left:70px;
}
#moreDetail #moreDetailLeft{
  background: #e55153;
}
#moreDetailLeft div{
  width:170px;
  text-align: center;
  font-size:20px;
  margin-top:170px;
  margin-left:125px;
  color:white;
}
#moreDetailLeft div button{
  border:1px solid white;
  background: #e55153;
  color:white;
  font-size:20px;
  margin-top:25px;
}
#moreDetail #moreDetailMiddle{
  background: #ffffff;
}
#moreDetailMiddle div{
  width:170px;
  text-align: center;
  font-size:20px;
  margin-top:170px;
  margin-left:125px;
}
.first{
  width:30px;
  height:2px;
  background: #ababab;
  margin-top:25px;
  margin-left:70px;
}
#moreDetailMiddle div button{
  border:1px solid #e55153;
  background: #ffffff;
  color:#e55153;
  font-size:20px;
  margin-top:25px;

}
#moreDetail #moreDetailRight{
  background: url("pic/14.png");
  BACKGROUND-size:100% 520px;
}
#beVolunteer{
  height:650px;
  width:100%;
  background: #ffffff;
  position:relative;
}
#beVolunteer #beVolunteerTop{
  text-align:center;
  margin-top:120px;
}
#beVolunteer #become{
  color: #5d5d5d;
  font-size:20px;
  margin-bottom:20px;
}
#beVolunteer p{
  color:#d4d4d4;
  font-size:14px;
}
#beVolunteerBot{
  margin-top:105px;
  position:relative;
}
#beVolunteerBotLeft {
  width:290px;
  height:280px;
  margin-left:120px;
  position:absolute;
}
#beVolunteerBotLeft .more{
  float:right;
}
#beVolunteerBotLeft .hello{
  margin-bottom: 10px;
}
.rightOfNewWorld{
  margin-top:30px;
}
#beVolunteerBotLeft h5{
  margin-bottom: 30px;
  color:dimgray;
}
#beVolunteerBotLeft p{
  font-size:12px;
  color:darkgray;
}
#beVolunteerBotRight{
  width:640px;
  height:280px;
  position:absolute;
  right:130px;
}
#beVolunteerBotRight p{
  width:310px;
  height:40px;
  display:inline-block;
  background: #ededef;
  margin-bottom: 10px;
}
#beVolunteerBotRight .inputLeft{
  margin-right:14px;
}
#beVolunteerBotRight label{
  height:40px;
  line-height:40px;
  color:#acacac;
}
#beVolunteerBotRight input{
  background: #ededef;
  border:none;
  height:35px;
  width:200px;
}
#beVolunteerBotRight textarea{
  border:none;
  background: #ededef;
  /*font-size:14px;*/
}
#beVolunteerBotRight button{
  width:640px;
  height:37px;
  background: #ededef;
  margin-top:10px;
  border:none;
}
#footer{
  background: #33353e;
  height:360px;
  /*border:1px solid  #33353e;*/
}
#footer div{
  width:515px;
  text-align: center;
  margin:0 auto;
  padding-top:90px;
}
#footer h3{
  color:white;
  padding-bottom:8px;
}
#footer p {
  color:white;
  font-size:12px;
}
#footer input{
  width:430px;
  height:40px;
  border:none;
  margin-top:30px;
  margin-right:-4px;
}
#footer button{
  width:80px;
  height:40px;
  font-size: 14px;
  /*border:0px;*/
  border:none;
  color:white;
}
#footer img{
  width:180px;
  height:30px;
  margin-top:35px;
}
#footer2{
  height:60px;
  width:100%;
  background:#30303a;
  color:white;
  font-size:12px;
}
#footer2 #left{
  float:left;
  margin-left:100px;
  line-height:60px;
}
#footer2 #right{
  float:right;
  margin-right:25px;
  line-height:60px;

}