body{
  margin:0;
  padding:0;
}
.container{
  /*box-sizing: content-box|border-box|inherit;*/
  /*border-box:为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制*/
  /*content-box:在宽度和高度之外绘制元素的内边距和边框*/
  /*inherit:规定应从父元素继承 box-sizing 属性的值*/
  box-sizing: border-box;
  padding: 10px;
}
.col{
  box-sizing: border-box;
  border: 1px solid #999999;
  background-color: #EEEEEE;
  height: 50px;
  margin: 10px;
  float: left;

}
@media only screen and (min-width: 769px) {
  .col-md-1{
    width: calc(8.333% - 20px);/*-10px 是左右margin相加的值*/
  }

  .col-md-2{
    width: calc(16.666% - 20px);
  }

  .col-md-3{
    width: calc(25% - 20px);
  }

  .col-md-4{
    width: calc(33.333% - 20px);
  }

  .col-md-6{
    width: calc(50% - 20px);
  }
}
@media only screen and (max-width: 768px) {
  .col-sm-2{
    width: calc( 16.666% - 20px);
  }
  .col-sm-3{
    width: calc( 25% - 20px);
  }
  .col-sm-6{
    width: calc( 50% - 20px);
  }
  .col-sm-8{
    width: calc( 66.666% - 20px);
  }
  .col-sm-12{
    width: calc( 100% - 20px);
  }
}